.deps
.libs
*.o
*.lo
*.la

# automake, autoconf, libtool, texinfo
Makefile
Makefile.in
/m4
/ar-lib
/mdate-sh
/py-compile
/test-driver
/ylwrap
/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.log
/config.status
/libtool
/config.guess
/config.h.in
/config.sub
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1
/ltmain.sh
/texinfo.tex
